
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
}

.split {
  width: 50%;
  height: 100%;
  position: relative;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.split::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.split.left {
  background-image: url("./coffee2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1.7);
}

.split.right {
  background-image: url("./tea1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1.7);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
  color: #b45f22;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  backdrop-filter: brightness(0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn {
  background-color: rgb(52, 27, 3);
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  outline: 2px solid transparent;
}

.btn:hover {
  background-color: rgb(185, 123, 64);
  color: rgb(58, 2, 2);
  transform: scale(1.05);
  opacity: 0.95;
}

.active-left .left {
  width: 75%;
}

.active-left .right {
  width: 25%;
}

.active-right .right {
  width: 75%;
}

.active-right .left {
  width: 25%;
}

.left, .right {
  transition: width 2s ease-in-out;
}